*{
	margin: 0;
	padding: 0;
	font-family: montserrat;
}

header {
	background-image: url(GroupPhoto.png);
	height: auto;
	background-size: cover;
	background-position: center;
}

ul {
	float: left;
	list-style-type: none;
	margin-top: 25px;
}

ul li {
	display: inline-block;

}

ul li a {
	text-decoration: none;
	color: #101C48;
	padding: 5px 20px;
	border: 1px solid #101C48;
}

#first-section {
    position: relative;
    height: auto;
    width: auto;
    background-color: #101C48;
    padding: 0;
}

#first-section .chaka-img {
    display: inline;
    height: 100%;
    width: 100%;
    background-image: url("GroupPhoto.png");
    background-position: center;
    background-size: cover;
}

.main {
    background-color: #101C48;
    overflow: hidden;
}
